In [ ]:
# install pandas in the notebook environment and import it
#%pip install pandas
#import pandas
import pandas as pd
outages2023 = pd.read_csv(r'C:\Users\Jesse\Documents\CodeYou\us-electrical-outages\Outage_Dataset_R1\Outage_Dataset\eaglei_outages_with_events_2023.csv')
outages2023.head()

,event_id,state_event,Datetime Event Began,Datetime Restoration,Event Type,fips,state,county,start_time,duration,end_time,min_customers,max_customers,mean_customers
0,Alabama-0,Alabama,2023-01-12 14:00:00,2023-01-13 03:00:00,Severe Weather,1001,Alabama,Autauga,2023-01-12 19:00:00,52.00,2023-01-14 23:00:00,216,6873,1259.716346
1,Alabama-0,Alabama,2023-01-12 14:00:00,2023-01-13 03:00:00,Severe Weather,1003,Alabama,Baldwin,2023-01-12 15:45:00,1.25,2023-01-12 17:00:00,239,716,340.800000
2,Alabama-0,Alabama,2023-01-12 14:00:00,2023-01-13 03:00:00,Severe Weather,1003,Alabama,Baldwin,2023-01-12 19:15:00,3.00,2023-01-12 22:15:00,251,1107,557.916667
3,Alabama-0,Alabama,2023-01-12 14:00:00,2023-01-13 03:00:00,Severe Weather,1007,Alabama,Bibb,2023-01-13 04:00:00,7.25,2023-01-13 11:15:00,430,525,448.827586
4,Alabama-0,Alabama,2023-01-12 14:00:00,2023-01-13 03:00:00,Severe Weather,1009,Alabama,Blount,2023-01-12 16:30:00,3.50,2023-01-12 20:00:00,204,778,413.571429

In [13]:
outages2023.describe()

,fips,duration,min_customers,max_customers,mean_customers
count,77341.000000,77341.000000,77341.000000,77341.000000,77341.000000
mean,39350.132646,6.339713,531.494537,1653.961573,913.385911
std,14201.537200,15.464254,1111.925597,6589.015188,2547.766271
min,1001.000000,0.250000,200.000000,200.000000,200.000000
25%,26047.000000,0.500000,220.000000,285.000000,267.200000
50%,48113.000000,1.500000,278.000000,513.000000,430.000000
75%,48319.000000,3.750000,474.000000,1291.000000,863.100000
max,55141.000000,193.250000,60581.000000,348829.000000,289849.333333

In [14]:
max_df = outages2023[outages2023['duration'] > 193]

In [15]:
max_df.head()

,event_id,state_event,Datetime Event Began,Datetime Restoration,Event Type,fips,state,county,start_time,duration,end_time,min_customers,max_customers,mean_customers
19430,Michigan-11,Michigan,2023-05-11 00:15:00,2023-05-18 09:27:00,Suspicious Activity,26099,Michigan,Macomb,2023-05-11 16:15:00,193.25,2023-05-19 17:30:00,202,6189,562.89392

In [ ]:
%pip install seaborn